.nav-bar {
  background-color: #D8D8D8;
  padding: 10px;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right; 
}

.nav-menu li {
  font-family: "Franklin Gothic", "Century Gothic", Arial, sans-serif;
  display: inline-block; 
  margin-left: 20px;     
}

.nav-menu li:first-child {
  margin-left: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.5rem 1rem;
  display: block;
  transition: background-color 0.3s;
}

.nav-menu li a:hover {
  background-color: #ccc;
  border-radius: 4px;
}
